<div class="container d-flex flex-column justify-content-center" id="newsImages">
    <p class="h4 my-5 "><b>News Sites</b></p>
    <div class="row sites ">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 my-5 position-relative ">
            <!-- <p class="hoverText h5 ">Nairobi</p> -->
            <a href="./pa" class="hoverText h5">Aljazeera</a>
            <img src="{{url_for('static', filename='images/aljazeera.png')}}" class="res " alt=" ">

        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12  my-5 position-relative ">
            <a href="./pages/mombasa.html" class="hoverText h5">BBC</a>

            <img src="{{url_for('static', filename='images/aljazeera.png')}}" class="res " alt=" ">

        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 my-5 position-relative ">
            <a href="./pages/kisumu.html"class="hoverText h5">CNN</a>

            <img src="{{url_for('static', filename='images/aljazeera.png')}}" class="res " alt=" ">

        </div>
        <div class="ccol-lg-3 col-md-4 col-sm-6 col-xs-12  my-5 position-relative ">
            <a href="" class="hoverText h5">Sports</a>

            <img src="{{url_for('static', filename='images/aljazeera.png')}}" class="res " alt=" ">

        </div>
    </div>
</div>