{% extends 'base.html' %} 
{% import 'macros.html' as macro %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!-- add control block -->
        {% if title %} 
        <title> {{title}} </title>
        {% else %}
        <title> Welcome to the NewsRoom Website</title>
        {% endif %}
    </head>
    <body>
        {% block content %}
        <h3><center>Top Articles Today</center></h3>
        
          
                    {{macro.displayArticleList(article)}}

                
       
        <!-- using macro -->
        
            
            
                <!-- <ul>
                    to loop through each article -->
                    <!-- {% for top_article in article %}
                    <li>
                        {{top_article.title}}
                    </li>
                    
                    {%endfor%} -->
                <!-- </ul> -->
            <!-- <h3>All Articles Today</h3>
                <ul>
                    {% for all_article in every_article %}
                    <li>
                        {{all_article.title}}
                    </li>
                    {%endfor%}
                </ul> -->

        {% endblock%}
    </body>
</html>