{% import 'macros.html' as macro %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!-- add control block -->
        {% if title %} 
        <title> {{title}} </title>
        {% else %}
        <title> Welcome to the NewsRoom Website</title>
        {% endif %}
    </head>
    <body>
        <!-- popular article section -->
        <h3>Top Articles Today</h3>

        <!-- using macro -->
            <ul>
                {{macro.displayArticleList(article)}}
            </ul>
            <!-- <ul>
                to loop through each article -->
                <!-- {% for top_article in article %}
                <li>
                    {{top_article.title}}
                </li>
                
                {%endfor%} -->
            <!-- </ul> -->
        <!-- <h3>All Articles Today</h3>
            <ul>
                {% for all_article in every_article %}
                <li>
                    {{all_article.title}}
                </li>
                {%endfor%}
            </ul> -->
    </body>
</html>