{% extends 'base.html' %} 
{% import 'macros.html' as macro %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!-- add control block -->
        {% if title %} 
        <title> {{title}} </title>
        {% else %}
        <title> Welcome to the NewsRoom Website</title>
        {% endif %}
    </head>
    <body>
        <!-- style block -->
        {% block styles%}
            {{super()}} <!--super function tells jinja not to override code in the blcok-->
            <link rel="stylesheet" href="{{url_for('static', filename=css/index.css)}}">
        {%end block%}

        <!-- content block -->
        {% block content %}
        <div class="container">
            <form>
                <input type="text" name="article_query" placeholder="Search for an article" class="form-control">
                <input type="submit" value="Submit" class="btn btn-default">
            </form>
        </div>
        <h3><center>Top Articles Today</center></h3>
        
          
                    {{macro.displayArticleList(article)}}

                
       
        <!-- using macro -->
        
            
            
                <!-- <ul>
                    to loop through each article -->
                    <!-- {% for top_article in article %}
                    <li>
                        {{top_article.title}}
                    </li>
                    
                    {%endfor%} -->
                <!-- </ul> -->
            <!-- <h3>All Articles Today</h3>
                <ul>
                    {% for all_article in every_article %}
                    <li>
                        {{all_article.title}}
                    </li>
                    {%endfor%}
                </ul> -->

        {% endblock%}
    </body>
</html>