<!-- {% extends 'base.html' %}
<!-- import helper function from bootstrap for rendering forms -->
<!-- {% import "bootstrap/wtf.html" as wtf %}  -->



<!-- {% block content %}{{
    <div class="container">
        <div class="col-md-8">
            <img src="{{article.image}}" alt="{{article.title}}" class="img-responsive">

        </div>
        <div class="col-md-4">
            {{wtf.quick_form(review_form)}} 
            <!-- wtfquick form take in flask wtf form object and renders it with bootstrap styling. -->
        <!-- </div>
    </div>
{% endblock %} --> 